.content {
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-size: 14px; // Added to have same font-size as in rest of Edit-menu (16px dont look good)

	& > ol {
		padding: 0;
		& > li:first-child {
			background-color: rgba($color: #000000, $alpha: 0.04);
			margin-bottom: 4px;

			&:hover,
			&:focus {
				background-color: rgba($color: #000000, $alpha: 0.12);
			}
		}
	} */
}

.title {
  user-select: none;
  margin: 12px;
  /* color: rgba($color: #000000, $alpha: 0.8); */
}
